@use "../variables";
@use "../helpers/mixins";

$avatar-width-short-factor: 0.618;

.#{variables.$prefix}-avatar-group {
  $class-name: &;
  
  @include mixins.flex-row-reverse;
  overflow:visible;
  position:relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: variables.$avatar-group-md-min-width;
  align-content: flex-start;
  justify-content: flex-end;
  
  .#{variables.$prefix}-avatar--active {
    z-index:1;
  }

  .#{variables.$prefix}-avatar--active-on-hover:hover {
    z-index:2;
  }
  
  &--xs {
    
    $xs-padding: variables.$avatar-xs-width - variables.$avatar-xs-width * $avatar-width-short-factor;
    padding-left: $xs-padding;
    padding-top: $xs-padding;
    
      .#{variables.$prefix}-avatar {
        margin-top: - $xs-padding;
        margin-left:- $xs-padding;
        width: variables.$avatar-xs-width;
        height: variables.$avatar-xs-width;
        min-width: variables.$avatar-xs-width;
        min-height: variables.$avatar-xs-width;
        border: none;
        border-right: 1px solid rgb(242, 242, 242);
      }
    
  }
  
  &--sm {
    
    $sm-padding: variables.$avatar-sm-width - variables.$avatar-sm-width * $avatar-width-short-factor;
    padding-left: $sm-padding;
    padding-top: $sm-padding;     
    
      .#{variables.$prefix}-avatar {
        margin-top: - $sm-padding;
        margin-left:- $sm-padding;
        width: variables.$avatar-sm-width;
        height: variables.$avatar-sm-width;
        min-width: variables.$avatar-sm-width;
        min-height: variables.$avatar-sm-width;
      }
  }

  &--md {
    
    $md-padding: variables.$avatar-md-width - variables.$avatar-md-width * $avatar-width-short-factor;
    padding-left: $md-padding;
    padding-top: $md-padding;
    
      .#{variables.$prefix}-avatar {
        margin-top: - $md-padding;
        margin-left:- $md-padding;
        width: variables.$avatar-md-width;
        height: variables.$avatar-md-width;
        min-width: variables.$avatar-md-width;
        min-height: variables.$avatar-md-width;
        border: 2px solid rgb(242, 242, 242);
      }
        
  }
  
  &--lg {
    
    $lg-padding:  variables.$avatar-lg-width - variables.$avatar-lg-width * $avatar-width-short-factor;
    padding-left: $lg-padding;
    padding-top: $lg-padding;
    
    .#{variables.$prefix}-avatar {
      margin-top: - $lg-padding;
      margin-left:- $lg-padding;
      width: variables.$avatar-lg-width;
      height: variables.$avatar-lg-width;
      min-width: variables.$avatar-lg-width;
      min-height: variables.$avatar-lg-width;
      border: 2px solid rgb(242, 242, 242);
    }
    
  }
  
}