@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-avatar {
  
  $avatar-class: &;
  
  position: relative;
  width: variables.$avatar-md-width;
  height: variables.$avatar-md-width;
  border-radius: 50%;
  box-sizing: border-box;
  
  & > img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &:hover {
    > img {
      filter: brightness(115%);
    }
  }

  &#{&}--xs {
    width: variables.$avatar-xs-width;
    height: variables.$avatar-xs-width;
    min-width: variables.$avatar-xs-width;;
    min-height: variables.$avatar-xs-width;
  }

  &#{&}--sm {
    width: variables.$avatar-sm-width;
    height: variables.$avatar-sm-width;
    min-width: variables.$avatar-sm-width;;
    min-height: variables.$avatar-sm-width;
  }
  
  &#{&}--md
  {
    width: variables.$avatar-md-width;
    height: variables.$avatar-md-width;
    min-width: variables.$avatar-md-width;;
    min-height: variables.$avatar-md-width;
  }

  &#{&}--lg {
    width: variables.$avatar-lg-width;
    height: variables.$avatar-lg-width;
    min-width: variables.$avatar-lg-width;;
    min-height: variables.$avatar-lg-width;
  }
  
    &#{&}--fluid {
    width: variables.$avatar-fluid-width;
    height: variables.$avatar-fluid-width;
    .#{variables.$prefix}-status {
      right: 5%;
      width: 22%;
      height: 22%
    }
  }
  
  // Status position and size
  & .#{variables.$prefix}-status {
    box-sizing: border-box;
    position: absolute;
    right:-1px;
    bottom: 3%;
    $status-class: #{variables.$prefix}-status;
    $bullet-class: #{variables.$prefix}-status__bullet;

    &__bullet  {
      box-sizing: content-box;
      border: solid 2px #fff;
    }

    
    
    &--xs,
    &--xs:not(.#{$status-class}--named) {
      right: 0;
      bottom: 0;

      @include mixins.status-size("xs", 1);      
    }

    &--sm,
    &--sm:not(.#{$status-class}--named) {
      right: -3px;
      bottom: -1px;

      @include mixins.status-size("sm", 2);
    }
    
    &--md,
    &--md:not(.#{$status-class}--named) {
      @include mixins.status-size("md", 2);
    }

    &--lg,  
    &--lg:not(.#{$status-class}--named) {
      bottom:4%;

      @include mixins.status-size("lg", 2);
    }
    
  }
}
