@use "../variables";

.#{variables.$prefix}-button {
  
  // Local alias
  $button-class: &;

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: variables.$button-color;
  background-color: variables.$button-bg-color;
  border: none;
  border-radius: variables.$button-border-radius;
  margin: variables.$button-margin;
  padding: variables.$button-padding;
  outline: none;
  font-size: variables.$button-font-size;
  line-height: variables.$button-line-height;

  &:focus {
    outline:none;
  }
  
  &:disabled {
    opacity: variables.$button-disabled-opacity;
  }
  
  &:not(:disabled) {
    cursor:pointer;
  }

  &#{$button-class}--border {
    border: variables.$button-border;  
  }
  
  &:hover:not(:disabled) {
    opacity: variables.$button-hover-opacity;
  }
  
  &#{$button-class}--right {
    > svg[data-icon]:first-child {
      margin-right:0.5em;
    }
  }

  &#{$button-class}--left {
    >svg[data-icon]:last-child {
      margin-left:0.5em;
    }
  }

  &--adduser {
    color: variables.$button-adduser-color;
    background-color: variables.$button-adduser-bg-color;
  }
  
  &--arrow {
    color: variables.$button-arrow-color;
    background-color: variables.$button-arrow-bg-color;
  }

  &--ellipsis {
    color: variables.$button-ellipis-color;
    background-color: variables.$button-ellipis-bg-color;
  }
  
  &--info {
    color: variables.$button-info-color;
    background-color: variables.$button-info-bg-color;
  }

  &--star {
    color: variables.$button-star-color;
    background-color: variables.$button-star-bg-color;
  }

  &--videocall {
    color: variables.$button-videocall-color;
    background-color: variables.$button-videocall-bg-color;
  }
  
  &--voicecall {
    color: variables.$button-voicecall-color;
    background-color: variables.$button-voicecall-bg-color;
  }

  &--send {
    color: variables.$button-send-color;
    background-color: variables.$button-send-bg-color;
  }

  &--attachment {
    color: variables.$button-attachment-color;
    background-color: variables.$button-attachment-bg-color;
  }
  
}

