@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-chat-container {
  box-sizing: border-box;
  @include mixins.flex-column;
  height: 100%;
  min-width: variables.$chat-container-min-width; // Required for ellipsis in child elements
  color: variables.$chat-container-color;
  background-color: variables.$chat-container-bg-color;
  
  & .#{variables.$prefix}-message-input {
    border-top: variables.$chat-container-message-input-border-top;
    border-right: variables.$chat-container-message-input-border-right;
    border-bottom: variables.$chat-container-message-input-border-bottom;
    border-left: variables.$chat-container-message-input-border-left;
    
    //box-shadow: 0px -4px 5px -5px rgba(0, 0, 0, 0.38);
    margin-top:auto; // Message input and following elements (input toolbox) will be placed at the bottom of the chat-container
    padding: 0.3em 0 0.3em 0em;
    color: variables.$chat-container-message-input-color;
    background-color: variables.$chat-container-message-input-bg-color;
    
    & .#{variables.$prefix}-message-input__content-editor-wrapper:first-child {
      margin-left:0.8em;
    }

    & .#{variables.$prefix}-message-input__content-editor-wrapper:last-child {
      margin-right:0.8em;
    }
    
  }

  & .#{variables.$prefix}-input-toolbox {
    margin: variables.$chat-container-input-toolbox-margin;
    padding: variables.$chat-container-input-toolbox-padding;
    color: variables.$chat-container-input-toolbox-color;
    background-color: variables.$chat-container-input-toolbox-bg-color;
  }
  
}

