@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-expansion-panel {

  $panel-class: &;
  box-sizing: border-box;
  @include mixins.flex-column;
  color: variables.$expansion-panel-color;
  background-color: variables.$expansion-panel-bg-color;
  border: variables.$expansion-panel-border;
  
  font-family: variables.$expansion-panel-font-family;
  font-weight: variables.$expansion-panel-font-weight;
  font-size: variables.$expansion-panel-font-size;
  font-variant: variables.$expansion-panel-font-variant;
  
  &__header {
    box-sizing: border-box;
    @include mixins.flex-row;
    color: variables.$expansion-panel-header-color;
    background-color: variables.$expansion-panel-header-bg-color;
    font-family: variables.$expansion-panel-header-font-family;
    font-weight: variables.$expansion-panel-header-font-weight;
    font-size: variables.$expansion-panel-header-font-size;
    font-variant: variables.$expansion-panel-header-font-variant;
    user-select: none;
    padding: 0.8em 0.8em;
    align-items: center;
    user-select:none;
    cursor:pointer;
  }

  &__header:hover {
    color:variables.$expansion-panel-header-hover-color;
    background-color: variables.$expansion-panel-header-hover-bg-color;
  }

  &__title {
    box-sizing: border-box;
    flex-grow:1;
  }

  &__icon {
    box-sizing: border-box;
    margin-left:1em;
    margin-right:0.5em;
  }
  
  &__content {
    display:none;
    color: variables.$expansion-panel-content-color;
    background-color: variables.$expansion-panel-content-bg-color;
    font-family: variables.$expansion-panel-content-font-family;
    font-weight: variables.$expansion-panel-content-font-weight;
    font-size: variables.$expansion-panel-content-font-size;
    font-variant: variables.$expansion-panel-content-font-variant;
    padding: 0.4em 0.8em;
  }
  
  &--open &__content {
    display:block;
    color: variables.$expansion-panel-content-open-color;
    background-color:variables.$expansion-panel-content-open-bg-color;
  }

  &--closed &__content {
    display:none;
  }
  
  &--open &__header {
      color: variables.$expansion-panel-header-open-color;
      background-color:variables.$expansion-panel-header-open-bg-color;
  }
  
  &--closed {
    
  }
  
}