@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-input-toolbox {
  box-sizing: border-box;
  @include mixins.flex-row;
  justify-content: flex-end;
  margin: variables.$input-toolbox-margin;
  padding: variables.$input-toolbox-padding;

  & .#{variables.$prefix}-button {
    @include mixins.reset-button;
    margin: variables.$input-toolbox-btn-margin;
    font-size: variables.$input-toolbox-btn-font-size;
  }
  
}
