@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-message-separator {
  box-sizing: border-box;
  color: variables.$message-separator-color;
  background-color: variables.$message-separator-bg-color;
  font-size: variables.$message-separator-font-size;
  font-family: variables.$message-separator-font-family;
  text-align: center;
  @include mixins.flex-row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  
  &::before,
  &::after {
    box-sizing: border-box;
    content: "";
    background-color: variables.$message-separator-color;
    display: block;
    flex-grow: 1;
    height: 1px;
  }
  
  &:not(:empty)::before {
    margin: variables.$message-separator-left-line-margin;
  }

  &:not(:empty)::after {
    margin: variables.$message-separator-right-line-margin;
  }
  
}
