@use "../variables";
@use "../helpers/mixins";

// Overflows
$_message-input-overflow: visible;
$_message-input-content-editor-overflow: visible;

// Don to override this value (no !default)
$_message-input-content-editor-border-vertical-width: variables.$message-input-content-editor-border-top-width + variables.$message-input-content-editor-border-bottom-width;
// Don to override this value (no !default)
$_message-input-content-editor-border-horizontal-width: variables.$message-input-content-editor-border-left-width + variables.$message-input-content-editor-border-right-width;

// Calculated - do not override
$_message-input-content-editor-padding-vertical: variables.$message-input-content-editor-container-padding-top + variables.$message-input-content-editor-container-padding-bottom;
$_message-input-content-editor-padding-horizontal: variables.$message-input-content-editor-container-padding-left + variables.$message-input-content-editor-container-padding-right;

// Calculated - do not override
$_message-input-content-editor-container-min-height: variables.$message-input-content-editor-container-line-height + $_message-input-content-editor-padding-vertical + $_message-input-content-editor-border-vertical-width;

// Calculated - do not override
$_message-input-content-editor-container-max-height: variables.$message-input-max-lines * variables.$message-input-content-editor-container-line-height + $_message-input-content-editor-padding-vertical + $_message-input-content-editor-border-vertical-width;

.#{variables.$prefix}-message-input {

  // Local alias
  $message-input-class: &;
  
  @include mixins.flex-row;
  position: relative;
  background-color: variables.$message-input-bg-color;
  border-top: variables.$message-input-border-top;
  border-right: variables.$message-input-border-right;
  border-bottom: variables.$message-input-border-bottom;
  border-left: variables.$message-input-border-left;
  box-sizing: border-box;
  padding: variables.$message-input-padding;
  overflow: $_message-input-overflow;
  flex-shrink: 0;

  &__content-editor-wrapper {
    box-sizing: border-box;  
    position: relative;
    background-color: variables.$message-input-content-editor-wrapper-bg-color;
    margin: variables.$message-input-content-editor-wrapper-margin;
    padding: variables.$message-input-content-editor-wrapper-padding;
    border-radius: variables.$message-input-content-editor-wrapper-border-radius;
    flex-grow:1;

    #{$message-input-class}--disabled & {
      background-color: variables.$message-input-content-editor-disabled-bg-color;
      color: variables.$message-input-content-editor-disabled-color;
    }
    
  }
  
  &__content-editor-container {
    box-sizing: border-box;
    position:relative;
    background-color: variables.$message-input-content-editor-container-bg-color;
    @include mixins.flex-column;
    align-items: stretch;
    overflow:hidden;
    overflow-y:auto;
    font-size: variables.$message-input-content-editor-container-font-size;
    line-height: variables.$message-input-content-editor-container-line-height;
    min-height: $_message-input-content-editor-container-min-height;
    max-height: $_message-input-content-editor-container-max-height;
    padding: variables.$message-input-content-editor-container-padding;
    scroll-padding: variables.$message-input-content-editor-container-padding-bottom;
    
    #{$message-input-class}--disabled & {
      color: variables.$message-input-content-editor-disabled-color;
      background-color: transparent;
    }
  }
  
  &__content-editor {
    box-sizing: border-box;
    flex-grow:1;
    background-color: variables.$message-input-content-editor-bg-color;
    font-family: variables.$message-input-content-editor-font-family;
    outline: 0;
    border-top: variables.$message-input-content-editor-border-top;
    border-right: variables.$message-input-content-editor-border-right;
    border-bottom: variables.$message-input-content-editor-border-bottom;
    border-left: variables.$message-input-content-editor-border-left;
    overflow: $_message-input-content-editor-overflow;
    color: variables.$message-input-content-editor-color;
    overflow-wrap: anywhere;
    word-break: break-word;
    #{$message-input-class}--disabled & {
      background-color: transparent; // Because bg color is from parent and we are using alpha
      color: variables.$message-input-content-editor-disabled-color;
    }
    
  }
  
  &__content-editor[data-placeholder]:empty:before {
    box-sizing: border-box;
    content: attr(data-placeholder);
    color: variables.$message-input-placeholder-color;
    display: block;
    cursor:text;
  }
  
  &__tools {
    @include mixins.flex-row;
    box-sizing: border-box;
    .#{variables.$prefix}-button {
      font-size:1.2em;
      margin-top:0;
      margin-bottom:0;
    }
    
    .#{variables.$prefix}-button--send {
      align-self: flex-end;
    }

    .#{variables.$prefix}-button--attachment {
      align-self: flex-end;
    }
    
  }

  &__tools:first-child {
    .#{variables.$prefix}-button:first-child {
      margin-left: 0;
    }
    .#{variables.$prefix}-button:last-child {
      margin-right: 0;
    }
  }

  &__tools:last-child {
    .#{variables.$prefix}-button:first-child {
      margin-left: 0;
    }
    .#{variables.$prefix}-button:last-child {
      margin-right: 0;
    }
  }
  
}
