@use "../variables";

$_message-avatar-justify-content: flex-end;

// How far message avatar should be postponed from message (and message from avatar for outgoing)
$_message-avatar-offset: variables.$message-avatar-width + variables.$message-avatar-horizontal-margin;


.#{variables.$prefix}-message {
  // Local alias
  $message-class: &;

  box-sizing: border-box;
  font-size: variables.$message-font-size;
  font-family: variables.$message-font-family;
  color: variables.$message-color;
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: variables.$message-bg-color;
  overflow: hidden;

  border-radius: variables.$message-border-radius;
  
  &:only-child {
    margin: variables.$message-only-child-margin;
  }
  
  &:not(:only-child) {
    margin: variables.$message-not-only-child-margin;
  }

  &__avatar {
    box-sizing: border-box;
    margin: variables.$message-avatar-margin;
    display: flex;
    flex-direction: column;
    justify-content: $_message-avatar-justify-content;
    width: variables.$message-avatar-width;
  }
  
  &__content-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__header {
    box-sizing: border-box;
    color: variables.$message-header-color;
    background-color: variables.$message-header-bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 0.8em;
    margin: variables.$message-header-margin;

    #{$message-class}__sender-name {
      box-sizing: border-box;
      color: variables.$message-sender-name-color;
      background-color: variables.$message-sender-name-bg-color;
    }

    #{$message-class}__sent-time {
      box-sizing: border-box;
      color: variables.$message-sent-time-color;
      background-color: variables.$message-sent-time-bg-color;
      margin-left: auto;
      padding-left: 0.8em;
    }
    
  }

  &__footer {
    box-sizing: border-box;
    color: variables.$message-footer-color;
    background-color: variables.$message-footer-bg-color;
    display: flex;
    font-size: 0.8em;
    margin: variables.$message-footer-margin;

    #{$message-class}__sender-name {
      box-sizing: border-box;
      color: variables.$message-sender-name-color;
      background-color: variables.$message-sender-name-bg-color;
    }

    #{$message-class}__sent-time {
      box-sizing: border-box;
      color: variables.$message-sent-time-color;
      background-color: variables.$message-sent-time-bg-color;
      margin-left: auto;
      padding-left: 0.8em;
    }
    
  }
  
  &__content {
    box-sizing: border-box;
    color: variables.$message-content-color;
    background-color: variables.$message-content-bg-color;
    margin-top: variables.$message-content-margin-top;
    padding: 0.6em 0.9em;
    border-radius: variables.$message-content-border-radius;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word; // break-word value is deprecated, but it's necessary for Safari
    font-family: variables.$message-content-font-family;
    font-weight: variables.$message-content-font-weight;
    font-size: variables.$message-content-font-size;
    font-variant: variables.$message-content-font-variant;
  }

  // Modifier: Incoming message
  &--incoming {
    color: variables.$message-incoming-color;
    background-color: variables.$message-incoming-bg-color;
    margin-right: auto;

    & #{$message-class}__avatar {
      margin: variables.$message-incoming-avatar-margin;
    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-incoming-sender-name {
        display: block;
      } @else {
        display: none;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-incoming-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    // Incoming message content
    & #{$message-class}__content {
      color: variables.$message-content-incoming-color;
      background-color: variables.$message-content-incoming-bg-color;
      border-radius: variables.$message-incoming-content-border-radius;
    }
  }

  // Modifier: Outgoing message
  &--outgoing {
    color: variables.$message-outgoing-color;
    background-color: variables.$message-outgoing-bg-color;
    margin-left: auto;
    justify-content: flex-end;

    & #{$message-class}__avatar {
      order: 1;
      margin: variables.$message-outgoing-avatar-margin;
    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-outgoing-sender-name {
        display: block;
      } @else {
        display: none;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-outgoing-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    // Outgoing message content
    & #{$message-class}__content {
      color: variables.$message-content-outgoing-color;
      background-color: variables.$message-content-outgoing-bg-color;
      border-radius: variables.$message-outgoing-content-border-radius;
    }
  }

  // Modifier: Single incoming message
  &#{$message-class}--incoming#{$message-class}--single {
    border-radius: variables.$message-incoming-single-border-radius;

    // Top margin for monologue (only when its not first message in conversation)
    &:not(:first-child) {
      margin-top: variables.$message-monologue-margin-top;
    }

    & #{$message-class}__avatar {

    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-incoming-single-sender-name {
        display: block;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-incoming-single-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    #{$message-class}__content {
      border-radius: variables.$message-incoming-content-single-border-radius;
    }
  }

  // Modifier: First incoming message
  &#{$message-class}--incoming#{$message-class}--first {
    border-radius: variables.$message-incoming-first-border-radius;

    // Top margin for monologue (only when its not first message in conversation)
    &:not(:first-child) {
      margin-top: variables.$message-monologue-margin-top;
    }
    
    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-incoming-first-sender-name {
        display: block;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-incoming-first-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    #{$message-class}__content {
      border-radius: variables.$message-incoming-content-first-border-radius;
      background-color: variables.$message-content-incoming-bg-color;
    }
  }

  // Modifier: Last incoming message
  &#{$message-class}--incoming#{$message-class}--last {
    border-radius: variables.$message-incoming-last-border-radius;

    & #{$message-class}__avatar {
      
    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-incoming-last-sender-name {
        display: block;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-incoming-last-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    #{$message-class}__content {
      border-radius: variables.$message-incoming-content-last-border-radius;
    }
  }

  // Modifier: Single outgoing message
  &#{$message-class}--outgoing#{$message-class}--single {
    border-radius: variables.$message-outgoing-single-border-radius;

    // Top margin for monologue (only when its not first message in conversation)
    &:not(:first-child) {
      margin-top: variables.$message-monologue-margin-top;
    }

    & #{$message-class}__avatar {
      
    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-outgoing-single-sender-name {
        display: block;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-outgoing-single-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    #{$message-class}__content {
      border-radius: variables.$message-outgoing-content-single-border-radius;
    }
  }

  // Modifier: First outgoing message
  &#{$message-class}--outgoing#{$message-class}--first {
    border-radius: variables.$message-outgoing-first-border-radius;
    
    margin-top: variables.$message-monologue-margin-top;
    
    & #{$message-class}__avatar {
      
    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-outgoing-first-sender-name {
        display: block;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-outgoing-first-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    #{$message-class}__content {
      border-radius: variables.$message-outgoing-content-first-border-radius;
      background-color: variables.$message-content-outgoing-bg-color;
    }
  }

  // Modifier: Last outgoing message
  &#{$message-class}--outgoing#{$message-class}--last {
    border-radius: variables.$message-outgoing-last-border-radius;

    & #{$message-class}__avatar {
      
    }

    & #{$message-class}__content-wrapper {
    }

    & #{$message-class}__sender-name {
      @if variables.$show-message-outgoing-last-sender-name {
        display: block;
      }
    }

    & #{$message-class}__sent-time {
      @if variables.$show-message-outgoing-last-sent-time {
        display: block;
      } @else {
        display: none;
      }
    }

    #{$message-class}__content {
      border-radius: variables.$message-outgoing-content-last-border-radius;
    }
  }
  
  // Free space instead of avatar
  &--incoming#{$message-class}--avatar-spacer {
    margin-left: $_message-avatar-offset;
  }

  &--outgoing#{$message-class}--avatar-spacer {
    margin-right: $_message-avatar-offset;
  }
  
  // Avatar position
  // By default incoming and default message has avatar on left and outoging has avatar on right.
  // This can be changed by adding --avatar-left or avatar-right modifier
  &--avatar-tl {

    #{$message-class}__avatar {
      justify-content:flex-start;
      order:0;
      margin-right: variables.$message-avatar-horizontal-margin;
      margin-left:0;
    }
    
    #{$message-class}__message-wrapper {
      order:1;
    }

  }

  &--avatar-tr {
    #{$message-class}__avatar {
      justify-content:flex-start;
      order:1;
      margin-left: variables.$message-avatar-horizontal-margin;
      margin-right:0;
    }
    #{$message-class}__message-wrapper {
      order:0;
    }
  }

  &--avatar-br {

    #{$message-class}__avatar {
      justify-content:flex-end;
      order:1;
      margin-left: variables.$message-avatar-horizontal-margin;
      margin-right:0;
    }

    #{$message-class}__message-wrapper {
      order:0;
    }

  }

  &--avatar-bl {

    #{$message-class}__avatar {
      justify-content:flex-end;
      order:0;
      margin-right: variables.$message-avatar-horizontal-margin;
      margin-left:0;
    }

    #{$message-class}__message-wrapper {
      order:1;
    }

  }

  &--avatar-cl {

    #{$message-class}__avatar {
      justify-content:center;
      order:0;
      margin-right: variables.$message-avatar-horizontal-margin;
      margin-left:0;
    }

    #{$message-class}__message-wrapper {
      order:1;
    }

  }

  &--avatar-cr {

    #{$message-class}__avatar {
      justify-content:center;
      order:1;
      margin-left: variables.$message-avatar-horizontal-margin;
      margin-right:0;
    }

    #{$message-class}__message-wrapper {
      order:0;
    }

  }
  
}
