@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-search {

  box-sizing: border-box;
  @include mixins.flex-row;
  @include mixins.reset-spacing;
  background-color: variables.$search-bg-color;
  align-items: center;
  position: relative;
  border-radius: variables.$search-border-radius;
  padding: 0.6em 0.9em;
  font-size: variables.$search-font-size;
  font-family: variables.$search-font-family;
  
  &__input {
    box-sizing: border-box;
    order:1;
    color: variables.$search-color;
    border:none;
    width:100%;
    min-width: 0; // FF fix
    outline:0;
    margin-right:0.5em;
    background-color:variables.$search-input-bg-color;
    font-size: variables.$search-input-font-size;
    font-family: variables.$search-input-font-family;
  }

  &__input:disabled {
    color: variables.$search-disabled-color;
    background-color:variables.$search-input-disabled-bg-color;
  }

  &__input::placeholder {
    color: variables.$search-placeholder-color;
  }
  
  &__search-icon {
    box-sizing: border-box;
    order:0;
    display:block;
    margin-right:0.5em;
    color: variables.$search-icon-color;
  }

  &__clear-icon {
    box-sizing: border-box;
    &:hover {
      color: variables.$search-clear-icon-color-hover;
      cursor: pointer;
    }
    order: 2;
    color: variables.$search-clear-icon-color;
    visibility:hidden;
    
    &--active {
      visibility: visible;
    }
  }
  
  &--disabled {
    opacity: variables.$search-disabled-opacity;
    color: variables.$search-disabled-color;
    background-color: variables.$search-disabled-bg-color;
  }
  
}
