@use "../variables";
@use "../helpers/mixins";

// Sidebar variables

.#{variables.$prefix}-sidebar {

  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 100%;
  @include mixins.flex-column;
  
  
  // For now left and right modifiers are only for indicate on what side sidebar should be placed inside container
  &--left {
    background-color: variables.$sidebar-left-bg-color;
  }
  
  &--right {
    background-color: variables.$sidebar-right-bg-color;
  }
  
  & .#{variables.$prefix}-expansion-panel + .#{variables.$prefix}-expansion-panel {
    border-top:0;
  }
  
}
