@use "sass:color";
@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-status {

  box-sizing: border-box;
  $status-class: &;
  $bullet-class: #{$status-class}__bullet;
  $name-class: #{$status-class}__name;
  
  position:relative;
  @include mixins.flex-row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: variables.$status-md-fontsize;
  
  #{$bullet-class} {
    box-sizing: content-box;
    width: variables.$status-md-width;
    height: variables.$status-md-width;
    border-radius: 50%;
    position: relative;

    // Bubble
    perspective: 200px;
    perspective-origin: 50% 50%;
    // End Bubble
    
  }
  
  &--selected {
    color: variables.$status-selected-color;
    background-color: variables.$status-selected-bg-color;
  }
  
  &--named {
    width: auto;
    height:auto;
  }
  
  &__name {
    margin: variables.$status-name-margin;
    line-height: 1.5;
  }
  
  @at-root .#{variables.$prefix}-avatar:hover #{$bullet-class}:before,
  &:hover #{$bullet-class}:before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    border-radius: 50%;
    z-index: 2;

    filter: blur(0);
    height: 80%;
    width: 40%;
	transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    background: radial-gradient(
                    circle at 130% 130%,
                    rgba(255, 255, 255, 0) 0,
                    rgba(255, 255, 255, 0) 46%,
                    rgba(255, 255, 255, 0.8) 50%,
                    rgba(255, 255, 255, 0.8) 58%,
                    rgba(255, 255, 255, 0) 60%,
                    rgba(255, 255, 255, 0) 100%
    );
  }
  
  @at-root .#{variables.$prefix}-avatar:hover #{$bullet-class}:after, // For hover on parent avatar
  &:hover #{$bullet-class}:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;  
    border-radius: 100%;
    filter: blur(1px);
    z-index: 2;
    transform: rotateZ(-30deg);
	animation: #{variables.$prefix}-bubble-anim 2s ease-out infinite;
    display: block;
    background: radial-gradient(
                    circle at 50% 80%,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0) 74%,
                    white 80%,
                    white 84%,
                    rgba(255, 255, 255, 0) 100%
    );
  }
  
  
  &--available {

    #{$bullet-class} {
      background: radial-gradient(
                      circle at 3px 3px,
                      color.adjust(variables.$status-available-color, $lightness: 10%),
                      variables.$status-available-color
      );
    }
    
    #{$name-class} {
      color: variables.$status-available-name-color;
    }
    
  }
     
  &--unavailable {
    #{$bullet-class} {
      background: radial-gradient(
                      circle at 3px 3px,
                      color.adjust(variables.$status-unavailable-color, $lightness: 25%),
                      variables.$status-unavailable-color
      );
    }

    #{$name-class} {
      color: variables.$status-unavailable-name-color;
    }
    
  }
  
  &--away {

    #{$bullet-class} {
      background: radial-gradient(
                      circle at 3px 3px,
                      color.adjust(variables.$status-away-color, $lightness: 35%),
                      variables.$status-away-color
      );
    }

    #{$name-class} {
      color: variables.$status-away-name-color;
    }
    
  }
  
  &--dnd {

    #{$bullet-class} {
      background-color: variables.$status-dnd-color;
      background: radial-gradient(
                      circle at 3px 3px,
                      color.adjust(variables.$status-dnd-color, $lightness: 30%),
                      variables.$status-dnd-color
      );
    }
    
    #{$name-class} {
      color: variables.$status-dnd-name-color;
    }
    
  }

  &--invisible {
    #{$bullet-class} {
      background-color: variables.$status-invisible-color;
      background: radial-gradient(
                      circle at 3px 3px,
                      color.adjust(variables.$status-invisible-color, $lightness: 25%),
                      variables.$status-invisible-color
      );
    }

    #{$name-class} {
      color: variables.$status-invisible-name-color;
    }
  }
  
  // Eager to chat
  &--eager {
    #{$bullet-class} {
      background: radial-gradient(
                      circle at 3px 3px,
                      color.adjust(variables.$status-eager-color, $lightness: 40%),
                      variables.$status-eager-color
      );
    }

    #{$name-class} {
      color: variables.$status-eager-name-color;
    }
    
  }
  
  // Sized
  &--xs:not(&--named) {
    @include mixins.status-size("xs");
  }

  &--sm:not(&--named) {
    @include mixins.status-size("sm");
  }

  &--md:not(&--named) {
    @include mixins.status-size("md");
  }

  &--lg:not(&--named) {
    @include mixins.status-size("lg");
  }

  &--fluid {
    width: variables.$status-fluid-width;
    height: variables.$status-fluid-width;
    #{$bullet-class} {
      width: variables.$status-fluid-width;
      min-width: variables.$status-fluid-width;
      height: variables.$status-fluid-width;
    }
  }
  
  @keyframes #{variables.$prefix}-bubble-anim {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
      transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
      transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
      transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
      transform: scale(1);
    }
  }
    
}
