@use "../variables";
@use "../helpers/mixins";

.#{variables.$prefix}-status-list {
  
  $status-class: #{variables.$prefix}-status;

  box-sizing: border-box;
  list-style-type: none;
  margin: variables.$status-list-margin;
  padding: variables.$status-list-padding;
  color: variables.$status-list-color;
  background-color: variables.$status-list-bg-color;
  
  > li {
    box-sizing: border-box;
    cursor:pointer;
    user-select: none;

    > .#{$status-class} {

      margin: variables.$status-list-item-margin;
      padding: variables.$status-list-item-padding;
      width:auto;
      height:auto;

    }

    .#{$status-class}--selected {
      color: variables.$status-list-item-selected-color;
      background-color: variables.$status-list-item-selected-bg-color;

      .#{$status-class}__name {
        color: variables.$status-list-item-selected-color;
        background-color: variables.$status-list-item-selected-bg-color;
      }
      
    }
  
    &:hover {
      color: variables.$status-list-item-hover-color;
      background-color: variables.$status-list-item-hover-bg-color;  
    }
    
    &:focus {
      color: variables.$status-list-item-focus-color;
      background-color: variables.$status-list-item-focus-bg-color;
    }
    
    &:active {
      color: variables.$status-list-item-active-color;
      background-color: variables.$status-list-item-active-bg-color;
    }
  }
  
  &--xs {
    >  li  {
      > .#{$status-class} {
        @include mixins.status-size("xs", $named: true);
      }
    }
  }
  
  &--sm {
    >  li  {
      > .#{$status-class} {
        @include mixins.status-size("sm", $named: true);
      }
    }
  }

  &--md {
    >  li  {
      > .#{$status-class} {
        @include mixins.status-size("md", $named: true);
      }
    }
  }
  
  
  &--lg {
    >  li  {
      > .#{$status-class} {
        @include mixins.status-size("lg", $named: true);
      }
    }
  }
  
}